<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wry.generator.mapper.DataTypeMapper">
    <resultMap id="BaseResultMap" type="com.wry.generator.entity.DataType">
        <!--@mbg.generated-->
        <!--@Table data_type-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="db_type" jdbcType="LONGVARCHAR" property="dbType"/>
        <result column="java_type" jdbcType="LONGVARCHAR" property="javaType"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, db_type, java_type
    </sql>
    <select id="selectDataTypeList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from data_type
        <where>
            <if test="searchValue != null and searchValue != ''">
                AND db_type  like  '%'||#{searchValue,jdbcType=VARCHAR}||'%'
                    OR java_type like  '%'||#{searchValue,jdbcType=VARCHAR}||'%'
            </if>
        </where>
    </select>
</mapper>